<div class="modal-header">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <h5 class="modal-title">Cierre de Turno - Motivos de Atención</h5>
      </div>
      <!--<div class="col">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"> <span aria-hidden="true">×</span> </button>
      </div>-->
    </div>
    <div class="row">
      <div class="col">
        <div> Seleccione Motivo (Primer Grupo) </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
    <form [formGroup]="motivoForm" *ngIf="(motivos.Mot | async); let Mot; else loading">  
        
    <div class="row">
      <div class="col-md-6 form-group" > <label for="cmbTraF">Tramites Frecuentes</label> 
        
        <ng-select [items]="motivos?.Traf"
           bindLabel="PreMotAlias"
           bindValue="fPreMot"
           id="cmbTraF"
           [(ngModel)]="motivoModel.Traf"
           formControlName="cmbTraf"
           placeholder="Selecione un Tramite frecuente"
           [loading]="loadingSelect"   
           (change)="onChange($event)"
           >
        </ng-select>
    </div>
      <div class="col-md-6 form-group">
        <!-- none -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <label for="cmbMot">Materia <span id="MotCasos" *ngIf="motivos?.Mot?.length > 0">
          ({{ motivos?.Mot?.length }} casos) 
      </span>
        </label> 
          <select class="form-control" id="cmbMot" size="5" formControlName="Mot" [(ngModel)]="motivoModel.Mot" #m (change)="motivoChange(m.value)">
            <option *ngFor="let item of motivos.Mot | async" [ngValue]="item">{{ item.Motivo }}</option>
      </select> </div>
      <div class="col-md-6"> 
        <label for="cmbSMot">Tipo Materia <span id="SMotCasos" *ngIf="motivos?.SMot?.length > 0">
        ({{ motivos?.SMot?.length }} casos)
        </span></label> 
        <select class="form-control" id="cmbSMot" size="5" formControlName="SMot" [(ngModel)]="motivoModel.SMot" #sm (change)="SmotivoChange(sm.value)">
          <option *ngFor="let item of motivos?.SMot" [ngValue]="item">{{ item.SubMotivo }}</option>
      </select> </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <label for="cmbSSMot">Temas <span id="SSMotCasos" *ngIf="motivos?.SSMot?.length > 0">
        ({{ motivos?.SSMot.length }} casos)
        
      </span></label> <select class="form-control" size="5" id="cmbSSMot" formControlName="SSMot" [(ngModel)]="motivoModel.SSMot" #ssm (change)="SSmotivoChange(ssm.value)">
          <option *ngFor="let item of motivos?.SSMot" [ngValue]="item">{{ item.SSubMotivo }}</option>
      </select> </div>
      <div class="col-md-6"> <label for="cmbSSSMot">Trámites <span class="SSSMotCasos" *ngIf="motivos?.SSSMot?.length > 0">
        ({{ motivos?.SSSMot?.length }} casos)
        
      </span></label> <select class="form-control" size="5" id="cmbSSSMot" formControlName="SSSMot" [(ngModel)]="motivoModel.SSSMot" #sssm (change)="SSSmotivoChange(sssm.value)">
          <option *ngFor="let item of motivos?.SSSMot" [ngValue]="item">{{ item.SSSubMotivo }}</option>
      </select> </div>
    </div>
    <div class="row" *ngIf="isInternalError">
      <div class="col">
          <div class="alert alert-danger text-center">
              {{ DescError }}
          </div>
            
        </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <div class="container">
        <div class="row flex-row justify-content-center">
          <div class="col-md-3 d-flex justify-content-end">
      
            <button type="button" class="btn btn-primary" [disabled]="!busqueda" (click)="BusquedaDialog()">Busqueda</button>
          </div>
          <div class="col-md-3 d-flex justify-content-end">
              <button type="button" class="btn btn-secondary" [disabled]="!nuevoMotivo" (click)="NuevoMotivo()">Nuevo Motivo</button>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
              <button type="button" class="btn btn-danger" [disabled]="!cierreAtencion" data-dismiss="modal" (click)="CierreAtencion()" >Cierre de Atención</button>
          </div>
  

  <div class="col-md-auto d-inline-flex justify-content-end align-items-center">
      <div> [{{ settings.iTOw }}] </div>
    </div>
</div>
</div>
</div>

<ng-template #loading>
  <ngx-loading [show]="lloading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</ng-template>

<ng-template #Error>
    <div class="form-group row" *ngIf="settings.lastErrorMot.isError | async">
      <div class="col">
          <div class="alert alert-danger text-center">
              {{ settings.lastErrorMot.DescError }}
          </div>
            
        </div>
        </div>
        
  </ng-template>


