<div class="modal-header">
    <div class="container">
      <div class="row text-center">
        <div class="col-10">
          <h5 class="modal-title">ERROR</h5>
        </div>
        <div class="col-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"> <span aria-hidden="true">×</span> </button>
        </div>
      </div>      
    </div>
    </div>
    <div class="modal-body">
      
      <p>Código: {{settings.lastError.CodError}}</p>
      <p>Mensaje: {{settings.lastError.DescError}}</p>

      </div>

      <div class="modal-footer">
          <div class="container">
            <div class="row flex-row justify-content-center">
              <div class="col-md-12 d-inline-flex justify-content-end align-items-center" *ngIf="client.UseTimeout">
                <div> [{{ settings.iTOw }}] </div>
              </div>
            </div>
          </div>
        </div>