
.img-circle{
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {

.tipoAtencion{
  padding: 0 !important;
  margin: -12px !important;
}
.botonera{
  padding: 0 !important;
  margin: 0 !important;
}
}

