<div class="modal-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="modal-title">CONFIRMA</h5>
      </div>
      <div class="col">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="enableClosed" (click)="closed()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>Identificación del Cliente</div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <form class="" [formGroup]="IdEditForm" novalidate>
    <div class="form-group row" [ngClass]="{'has-error':!IsValidRut}">
      <label for="txEsc" class="col-sm-4 col-form-label">Rut</label>
      <div class="col-sm-8">
        <div class="col-sm-8 pl-0">
          <input type="text" class="form-control" id="txRut" [(ngModel)]="model.txRut" (ngModelChange)="onChanges($event)" formControlName="txRut"
            placeholder="111111-k" autofocus validateRut required minlength="9" maxlength="10">
        </div>
        <div class="form-control-feedback" *ngIf="ConfirmaRut && IdEditForm.controls['txRut'].errors && IdEditForm.controls['txRut'].touched">
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txRut'].hasError('required')">El RUT es requerido</p>
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txRut'].hasError('validateRut')">Formato del RUT no válido</p>
          <p class="alert alert-danger" *ngIf="!IdEditForm.controls['txRut'].hasError('validateRut') && (IdEditForm.controls['txRut'].hasError('minlength') || IdEditForm.controls['txRut'].hasError('maxlength'))">RUT número de caracteres no válido</p>
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-error':!IsValidFono}">
      <label for="txUsr" class="col-sm-4 col-form-label">Teléfono</label>
      <div class="col-sm-8">
        <div class="col-sm-8 pl-0" [ngSwitch]="ConfirmaFono">
          <input type="text" *ngSwitchCase="true" class="form-control" id="txFon" [(ngModel)]="model.txFon" formControlName="txFon"
            (ngModelChange)="onChanges($event)" number [min]="getFonMin()" [max]="getFonMax()" [maxlength]="settings.CliInt == 'FALASACBOD' ? 10 : 9"
            [placeholder]="getFonMin()">

          <input type="text" *ngSwitchDefault class="form-control" id="txFon" [(ngModel)]="model.txFon" formControlName="txFon" (ngModelChange)="onChanges($event)"
            [placeholder]="getFonMin()">
        </div>

        <div class="form-control-feedback" *ngIf="ConfirmaFono && IdEditForm.controls['txFon'].errors && IdEditForm.controls['txFon'].touched">
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txFon'].hasError('required')">El Teléfono es requerido</p>
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txFon'].hasError('maxlength')">El Teléfono debe tener 10 caracteres</p>
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txFon'].hasError('max') || IdEditForm.controls['txFon'].hasError('min')">El Teléfono con mal formato</p>
        </div>

      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-error':!IdEditForm.controls['txNom'].valid}" *ngIf="EnableNom">
      <label for="txUsr" class="col-sm-4 col-form-label">Nombre del Cliente</label>
      <div class="col-sm-8">
        <div class="col-sm-8 pl-0">
          <input type="text" class="form-control" id="txNom" [(ngModel)]="model.txNom" formControlName="txNom" (ngModelChange)="onChanges($event)"
            [maxlength]="50" placeholder="Nombre Apellidos">
        </div>
        <div class="form-control-feedback" *ngIf="IdEditForm.controls['txNom'].errors && IdEditForm.controls['txNom'].touched">
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txNom'].hasError('required')">El Nombre del cliente es requerido</p>
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txNom'].hasError('maxlength')">El Nombre no puede tener mas de 50 caracteres</p>
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-error':!IdEditForm.controls['txMail'].valid}" *ngIf="EnableMail">
      <label for="txUsr" class="col-sm-4 col-form-label">Correo del Cliente</label>
      <div class="col-sm-8">
        <div class="col-sm-8 pl-0">
          <input type="text" class="form-control" id="txMail" [(ngModel)]="model.txMail" formControlName="txMail" (ngModelChange)="onChanges($event)"
            [maxlength]="50" placeholder="abc@def.cl">
        </div>
        <div class="form-control-feedback" *ngIf="IdEditForm.controls['txMail'].errors && IdEditForm.controls['txMail'].touched">
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txMail'].hasError('required')">El Correo es requerido</p>
          <p class="alert alert-danger" *ngIf="IdEditForm.controls['txMail'].hasError('maxlength')">El Correo no puede tener mas de 50 caracteres</p>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="client.IdEditarForzar">
      <label for="txUsr" class="col-sm-4 col-form-label">Trámite de Terceros</label>
      <div class="col-sm-8">
        <input type="checkbox" class="form-control" id="txTer" [(ngModel)]="model.txTer" formControlName="txTer" (ngModelChange)="onChanges($event)">

      </div>

    </div>

    <div class="form-group row" *ngIf="settings.lastError.isError |async">
      <div class="col">
        <div class=" alert alert-danger text-center">
          {{ settings.lastError.DescError }}
        </div>

      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="container">
    <div class="row flex-row justify-content-center">
      <div class="col-md-3 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="fnSet_ID()" [disabled]="!IdEditForm.valid">Confirmar</button>
      </div>
      <div class="col-md-3 d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closed()" [disabled]="enableClosed">Cerrar</button>
      </div>
      <div class="col-md-6 d-inline-flex justify-content-end align-items-center" *ngIf="client.UseTimeout">
        <div> [{{ settings.iTOw }}] </div>
      </div>
    </div>
  </div>
</div>